/* Minutiae of the appearance of certain elements inside popup balloons (infowindows). */

/* Tables */
/* increase horizontal padding between cells and add border between rows */
div.gm-style-iw table {
  border-collapse: collapse;
}
div.gm-style-iw table td {
  padding-left:  1px;
  padding-right: 4px;
}
div.gm-style-iw table td:last-of-type {
  padding-right: 1px;
}
div.gm-style-iw table tr {
  border-bottom: 1px solid black;
}
div.gm-style-iw table tr:last-of-type {
  border-bottom: none;
}
