.geolocate{
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  cursor: pointer;
  background-color: #fff;
  background-image: url('./../../../images/icon-157354_640.png');
  background-position: center;
  background-size: contain;
  background-size: 21px 38px;
  /*overflow: hidden;
  text-align: center;*/
}

.geolocate:hover{
  background-color: #ebebeb;
}
      
