/* Closer X button in top right */
#about-modal .closer[role="button"] {
  cursor: pointer;
  font-size: larger;
  position: absolute;
  padding: 2px 3px; /* Maybe 0.3em or something would be better */
  top: 0;
  right: 0;
  z-index: 1; /* Place closer on top of other content of modal */
  /* Prevent highlighting of X */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select:   none; /* Safari */
  -khtml-user-select:    none; /* Konqueror HTML */
  -moz-user-select:      none; /* Firefox */
  -ms-user-select:       none; /* Internet Explorer/Edge */
  user-select:           none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* The modal itself. */
#about-modal {
  font-size: larger;
  visibility: hidden;
  padding: 0 0 5px 10px;
}

/* Pad the bottom of the modal a little bit when you scroll down 
   all the way to the bottom so it won't feel so cramped. */
#about-modal .content {
  padding-bottom: 10px;
}

#about-modal .has-scrollbar {
  overflow-y: auto;
  margin-top: 23px;
}

/* Style scrollbar to match those in Google Maps infowindows */
#about-modal .has-scrollbar::-webkit-scrollbar {
  width: 18px;
  height: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
#about-modal .has-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
#about-modal .has-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.12);
  border: 6px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
#about-modal .has-scrollbar::-webkit-scrollbar-track, 
#about-modal .has-scrollbar::-webkit-scrollbar-track-piece {
  background: #fff;
}

/* For paragraphs that are just titles for sections */
#about-modal p.heading {
  font-weight: bold;
  font-size: larger;
}

#about-modal td {
  padding-top: 1px;
  padding-bottom: 1px;
}

#about-modal table td {
  background-repeat:   no-repeat;
  background-size:     contain;
  background-position: center;
  background-origin:   padding-box;
}

/* Align "Symbol" column heading to the centered symbols */
#about-modal table th.center {
  text-align: center;
  padding-right: 1px; /* match 1px left padding */
}
