/* Popup balloon (info window) dimensional controls */
/* Individual elements with the attribute data-balloonish with the value "dims" receive the same styling rules. */

/* Specify static fallbacks in case of lack of support for calc functions.
 * Allow a constant buffer size to fit the controls around the edges. */
div.gm-style-iw > div > div, 
[data-balloonish="dims"] {
  max-height: 300px;
  max-height: -webkit-calc(100vh - 150px);
  max-height:   expression(100vh - 150px);
  max-height:    -moz-calc(100vh - 150px);
  max-height:      -o-calc(100vh - 150px);
  max-height:         calc(100vh - 150px);
  max-width: 400px;
  max-width: -webkit-calc(100vw - 300px);
  max-width:   expression(100vw - 300px);
  max-width:    -moz-calc(100vw - 300px);
  max-width:      -o-calc(100vw - 300px);
  max-width:         calc(100vw - 300px);
}

/* Reduce balloon dimensions to the fallback
 * values when the screen is too large. */
@media only screen and (min-width: 800px) {
  div.gm-style-iw > div > div, 
  [data-balloonish="dims"] {
    max-width: 400px;
  }
}
@media only screen and (min-height: 500px) {
  div.gm-style-iw > div > div, 
  [data-balloonish="dims"] {
    max-height: 300px;
  }
}

/* Crude tool to target mobile Safari to work
 * around its lack of support for the calc() function
 * and the vh and vw units. */
@supports (-webkit-overflow-scrolling: touch) {
  @media only screen and (orientation: landscape) {
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
      div.gm-style-iw > div > div, 
      [data-balloonish="dims"] {
        max-height: 170px;
        max-width: 268px;
      }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      div.gm-style-iw > div > div, 
      [data-balloonish="dims"] {
        max-height: 170px;
        max-width: 200px;
      }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
      div.gm-style-iw > div > div, 
      [data-balloonish="dims"] {
        max-height: 225px;
        max-width: 400px;
      }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      div.gm-style-iw > div > div, 
      [data-balloonish="dims"] {
        max-height: 225px;
        max-width: 367px;
      }
    }

    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
      div.gm-style-iw > div > div, 
      [data-balloonish="dims"] {
        max-height: 264px;
        max-width: 400px;
      }
    }
  }

  @media only screen and (orientation: portrait) {
    div.gm-style-iw > div > div, 
    [data-balloonish="dims"] {
      max-height: 300px;
      max-width: 200px;
    }
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    div.gm-style-iw > div > div, 
    [data-balloonish="dims"] {
      max-height: 300px;
      max-width: 400px;
    }
  }
}
