/* Minutiae of the appearance of certain elements inside popup balloons (infowindows). */

/* Tables */
/* increase horizontal padding between cells and add border between rows */
div.gm-style-iw table {
  border-collapse: collapse;
}
div.gm-style-iw table td {
  padding-left:  1px;
  padding-right: 9px;
}
div.gm-style-iw table td:last-of-type {
  padding-right: 1px;
}
div.gm-style-iw table tr {
  border-bottom: 1px solid black;
}
div.gm-style-iw table tr:last-of-type {
  border-bottom: none;
}
div.gm-style-iw table > th{
  text-align: left;
}

/* Unordered Lists */
div.gm-style-iw ul {
  padding-top: 0.5em;
}
div.gm-style-iw ul > li {
  padding-top: 0.5em;
}
div.gm-style-iw ul > li:first-of-type {
  padding-top: 0;
}
