/* Minutiae of the appearance of certain elements inside popup balloons (infowindows). */

/* Tables */
/* increase horizontal padding between cells and add border between rows */
div.gm-style-iw           table td,
[data-balloonish~="guts"] table td,
div.gm-style-iw           table th,
[data-balloonish~="guts"] table th {
  padding-left:  1px;
  padding-right: 9px;
}
div.gm-style-iw           table td:last-of-type,
[data-balloonish~="guts"] table td:last-of-type,
div.gm-style-iw           table th:last-of-type,
[data-balloonish~="guts"] table th:last-of-type {
  padding-right: 1px;
}

div.gm-style-iw table,
[data-balloonish~="guts"] table {
  border-collapse: collapse;
}
div.gm-style-iw           table tr,
[data-balloonish~="guts"] table tr {
  border-top: none;
}
div.gm-style-iw           table tr ~ tr,
[data-balloonish~="guts"] table tr ~ tr {
  border-top: 1px solid black;
}

div.gm-style-iw           table th,
[data-balloonish~="guts"] table th {
  text-align: left;
}

/* Unordered Lists */
div.gm-style-iw           ul,
[data-balloonish~="guts"] ul {
  padding-top: 0.5em;
}
div.gm-style-iw           ul > li,
[data-balloonish~="guts"] ul > li {
  padding-top: 0.5em;
}
div.gm-style-iw           ul > li:first-of-type,
[data-balloonish~="guts"] ul > li:first-of-type {
  padding-top: 0;
}
