.geolocate{
  display: block;
  height: 38px;
  width: 38px;
  background-image: url('/Elections/images/icon-157354_640.png');
  background-position: center;
  background-size: contain;
  background-size: auto 36px;
  background-repeat: no-repeat;
}
