.installed {
  position: absolute;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  background-color: #fff;
  font-family: Roboto, Arial, sans-serif;
}
.installed-controls:hover,
.installed:hover {
  background-color: #ebebeb;
}

.installed-controls,
.installed.controls {
  opacity: 0;
  transition: opacity 1s ease-in;
  user-select: none;
  cursor: pointer;
}

.top-control,
.installed.controls.top {
  margin: 10px 10px 0 0;
}

.installed-controls.bottom,
.installed.controls.bottom {
  margin-bottom: 10px;
}

.installed-controls.left,
.installed.controls.left {
  margin: 0 0 0 10px;
}

.text-control,
.installed.controls.text {
  height: 40px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 18px;
  vertical-align: middle;
  line-height: 100%;
  text-align: center;
  display: table;
}
.text-control > span, 
.installed.controls.text > span {
  vertical-align: middle;
  display: table-cell;
  padding: 0;
  margin: 0;
  border: none;
}
