.installed {
  position: absolute;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  background-color: #fff;
  font-family: Roboto, Arial, sans-serif;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.controls {
  min-width: 38px;
  min-height: 38px;
  color: rgb(86,86,86);
  cursor: pointer;
  /* Prevent highlighting of controls */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select:   none; /* Safari */
  -khtml-user-select:    none; /* Konqueror HTML */
  -moz-user-select:      none; /* Firefox */
  -ms-user-select:       none; /* Internet Explorer/Edge */
  user-select:           none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  border: none;
}
.controls:hover {
  background-color: #ebebeb;
}

select.controls.text {
  -webkit-appearance: none;
  appearance: none;
  background-image: url(https://maps.gstatic.com/mapfiles/arrow-down.png);
  background-repeat: no-repeat;
  background-position: right 6px top 50%;
  padding-right: 18px; /* Increase from 13px for symmetrical spacing around down-arrow bgimg */
}

.installed.top {
  margin-top: 10px;
  margin-right: 10px;
}

.installed.right {
  margin-right: 10px;
}

.installed.bottom {
  margin-bottom: 10px;
}

.installed.left {
  margin-left: 10px;
}

.installed.left.not-alone {
  margin-top: 10px;
}

.installed.text {
  padding-left: 13px;
  padding-right: 13px;
}

.controls.text {
  height:      38px;
  line-height: 38px;
  font-size: 17px;
  text-align: center;
}
.controls.text > span {
  padding: 0;
  margin: 0;
  border: none;
}

/* No underline on <a>s */
.installed.controls.text a, 
a.installed.controls.text {
  text-decoration: none;
}
