.installed-controls,
.installed.controls {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in;
  user-select: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  cursor: pointer;
  background-color: #fff;
}

.installed-controls:hover,
.installed.controls:hover {
  background-color: #ebebeb;
}

.top-control,
.installed.controls.top {
  margin: 10px 10px 0 0;
}

.installed-controls.bottom,
.installed.controls.bottom {
  margin-bottom: 10px;
}

.installed-controls.left,
.installed.controls.left {
  /*margin-left: 10px;*/
  margin: 0 0 0 10px;
}

.text-control,
.installed.controls.text {
  height: 40px;
}
